:root {
    --brand-color-iris: #4d5ae5;
    --active-ocean: #404BBF;
    --headings-navy-blue: #2E2F42;
    --text-slate: #434455;
    --white: #FFFFFF;
    --cloud: #F4F4FD;
    --cornflower: #E7E9FC;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: var(--text-slate);
    background-color: #FFF;
    line-height: 1.5;
    letter-spacing: 0.32px;

}

h1,
h2,
h3 {
    margin: o auto;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.lost-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
/*Header*/
.header{
    display: flex;
    border-bottom: 1px solid var(--cornflower);
}
.page-nav{
    display: flex;
}
.logo-main {
    width: 115px;
    margin-top: 24px;
    margin-bottom: 24px;
}
.nav-menu{
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-top: 24px;
    margin-right: ;
    margin-bottom: 24px;
    margin-left: 76px;
}
.contacts-list{
    display: flex;
    align-items: flex-end;
    gap: 40px;
    margin-top: 24px;
    margin-left: 156px;
    margin-bottom: 24px;
}

.logo-main {
    color: var(--brand-color-iris);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-accent {
    color: var(--headings-navy-blue);
}
.page-link {
    color: var(--headings-navy-blue);
    font-weight: 500;
}

.page-link:hover,
.page-link:focus {
    color: var(--active-ocean);
}
.contacts {
    font-style: normal;
}
.contacts .link {
    color: var(--text-slate);
}
.contacts .link:hover,
.contacts .link:focus {
    color: var(--active-ocean);
}

/* Main Studio*/
.title-bloc {
    background-color: var(--headings-navy-blue);
    
}
.main-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 1.12px;
    margin-top: 0;
}
.button-title {
    color: var(--white);
    background-color: var(--brand-color-iris);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}
.button-title:hover,
.button-title:focus {
    background-color: var(--active-ocean);
}

.sub-title {
    color: var(--headings-navy-blue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}
.parts-title {
    color: var(--headings-navy-blue);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-transform: capitalize;
    text-align: center;
}
.team-bloc {
    background-color: var(--cloud);
}
.team-card {
    background-color: var(--white);
}
/*footer*/
.lower-bloc {
    background-color: var(--headings-navy-blue);
}
.lower-text {
    color: var(--cloud);
    font-weight: normal;
}
.logo-accent-lower {
    color:var(--cloud);
}
/*Portfolio*/
.filter {
    color: var(--brand-color-iris);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    background-color: var(--cloud);
    cursor: pointer;
}
.filter:hover,
.filter:focus {
    color: var(--white);
    background-color: var(--active-ocean);
}
.text {
    color: var(--text-slate);
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

